:root {
  font-family: cursive;
  scroll-behavior: smooth;
}
/* Header section start */
header {
  z-index: 2;
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin-top: 1%;
  width: 94%;
  height: auto;
  position: fixed;
  /* overflow: hidden; */
  background: #241401;
  padding: 20px 10px;
  border-radius: 10px;
  justify-content: space-between;
}

header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 100;
  line-height: 25px;
  border-radius: 5px;
  transition: 0.3s;
}

header .logo {
  font-weight: bolder;
  font-size: 25px;
  transition: 0.3s;
}

header .logo:hover {
  transform: scale(1.1);
  background: linear-gradient(to right, #ff6600, #3f1d02);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.header-right {
  float: right;
}

header .header-right a {
  margin-left: 20px;
}
header .header-right a:hover {
  background-color: #6c4e31;
  color: white;
  transform: scale(1.1);
}

/* Header section End */

/* Section1 start */
.body {
  z-index: 1;
  height: 100dvh;
  background-color: #241401;
}
.section1 {
  color: white;
  margin-right: 5%;
  margin-left: 5%;
  justify-content: space-between;
}
.body .section1 .left {
  margin-top: 15%;
  width: 60%;
  float: left;
}

.body .section1 .left h1 {
  font-size: 6vh;
  font-weight: 900;
  color: #ff6600;
  transition: 0.3s;
}

.body .section1 .left h1:hover {
  transform-origin: left center;
  transform: scale(1.01);
}

.body .section1 .left h2 {
  font-size: 4vh;
  font-weight: 200;
  transition: 0.3s;
}
.body .section1 .left h2:hover {
  transform: scale(1.01);
}

.body .section1 .left p {
  transition: 0.3s;
  font-size: 3vh;
}
.body .section1 .left p:hover {
  transform: scale(1.01);
}

.body .section1 .left a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border: #603e21 2px solid;
  border-radius: 10px;
  background-color: #603e21;
  color: white;
  transition: 0.3s;
}

.body .section1 .left a:hover {
  border: black 2px solid;
  background-color: white;
  color: black;
  transform: scale(1.1);
}
.body .section1 .right img {
  padding-left: 10%;
  margin: auto;
  margin-top: 15%;
  transition: 0.3s ease-in-out;
  width: 30%;
  height: auto;
  transform: rotateZ(10deg);
}

.body .section1 .right img:hover {
  transform: scale(1.2);
}

/* Section1 End */

/* card section(Section 2) start */
.services {
  background-color: #6f4e37;
  padding: 10px;
  height: 100dvh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.card {
  background-color: #3f250e;
  color: #d4a373;
  box-shadow: 10px 10px 10px black;
  text-align: center;
  border: white 1px solid;
  border-radius: 7px;
  width: 25%;
  height: 70%;
  margin-top: 20dvh;
  font-size: larger;
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 80%;
}

.card a {
  display: inline-block;
  border: whitesmoke 2px solid;
  border-radius: 10px;
  color: #faf3e0;
  background-color: #6c4e31;
  padding: 10px;
  text-decoration: none;
  font-size: larger;
  font-family: fantasy;
  font-weight: 500;
  transition: 0.3s;
}

.card a:hover {
  background-color: #d4a373;
  color: black;
  transform: scale(1.05);
}
/* card section (Section 2) end */

/* About section (Section 3) Start */
.about {
  height: 100dvh;
  background-color: #241401;
  /* overflow: hidden; */
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.about .left {
  padding-top: 150px;
  width: 30%;
  float: left;
}
.about .left img {
  padding-left: 5%;
  margin: 1px auto;
  border-radius: 7px;
  height: 75dvh;
}

.about .right {
  margin-right: 3%;
  width: 67%;
  padding-top: 190px;
  font-size: larger;
  float: right;
  color: white;
}

.about .right h1 {
  font-weight: 900;
  text-align: left;
  text-transform: capitalize;
}

/* About section (Section 3) End */

/* Contact section (Section 4) Start */
.contact {
  /* margin-top: 10%; */
  /* text-align: center; */
  height: 100dvh;
  /* display: block; */
  justify-content: space-between;
  background-color: #6f4e37;
  color: white;
}

.contact .contact-section {
  padding-top: 15%;
}

/* .contact img{
  height: 100%;
} */
.contact .left {
  float: left;
  padding-top: 2%;
  padding-left: 5%;
}
.contact .right {
  padding-left: 40vw;
  border: rgb(228, 221, 210) 1px solid;
  box-shadow: 0px 5px 10px rgb(78, 78, 78);
}
.contact .right form {
  display: flex;
  flex-direction: column;
}

.contact form input,
.contact form textarea {
  padding: 10px;
  margin: 10px;
  border: #d4a373 1px solid;
  border-radius: 3px;
}

.contact form button {
  width: 50%;
  padding: 10px;
  margin: 10px auto;
  border: none;
  background-color: #41250b;
  color: white;
  font-size: large;
  border-radius: 3px;
  transition: 0.4s;
  cursor: pointer;
}

.contact form button:hover {
  transform: scale(1.05);
  background-color: #1f0e01;
}
/* Contact section (Section 4) End */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: white;
  background-color: #3f1d02;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}
